<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css//homepage/homepage.css" type="text/css">
    <title>HR Management</title>
</head>

<body>
<div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-code-alt'></i>
        <div class="logo-name"><span>Minh </span>Hieu</div>
    </a>
    <ul class="side-menu">
        <li><a href="#"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
        <li><a href="/employee"><i class='bx bx-group'></i>Employee Management</a></li>
        <li class="active"><a href="#"><i class='bx bx-money'></i>Salary Management</a></li>
        <li><a href="#"><i class='bx bxs-file-plus'></i>Recruit</a></li>
        <li><a href="#"><i class='bx bx-time' ></i>Timekeeping</a></li>
        <li><a href="#"><i class='bx bx-building-house'></i>Departments</a></li>
        <li><a href="#"><i class='bx bx-support' ></i>Support</a></li>
        <li><a href="#"><i class='bx bx-cog'></i>Setting</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<div class="content">
    
</div>
<script src="js/homepage.js"></script>
</body>

</html>